.backButton {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40px;
  left: 40px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 80%);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}
.backButton:hover {
  opacity: 0.8;
}
